@import url("https://fonts.googleapis.com/css2?family=Besley:ital,wght@0,400;1,400;1,500&display=swap");
/* @import url ("https://fonts.googleapis.com/css?family=Montserrat:100,200,300,400,500,600,700,800,900");  */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Besley", serif;
    border: none;
    outline: none;
    text-decoration: none;
    list-style: none;
    scroll-behavior: smooth;
}

::selection {
    background-color: #f10000;
    color: #000;
}
::-webkit-scrollbar{
    width: 10px;
}
::-webkit-scrollbar-thumb{
    background: #f10000;
}
::-webkit-scrollbar-track{
    background: #000;
}